<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>LOGIN</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}"
	type="text/css" media="screen" />
<link rel="stylesheet" href="css/bootstrap.css"
	th:href="@{css/bootstrap.css}" type="text/css" media="screen" />
<link rel="stylesheet" href="css/font-awesome.css"
	th:href="@{css/font-awesome.css}" type="text/css" media="screen" />
</head>
<body>
	<div class="text-str" th:if="${param.error}">Invalid username and password.</div>
	<div class="text-str" th:if="${param.logout}">You have been logged out.</div>
	
	<div class="text-str" >カスタマイズログイン画面</div>
	
	<form th:action="@{/login}" method="post">
		<div class="text-str">
			<label> User Name : <input type="text" name="username" />
			</label>
		</div>
		<div class="text-str" >
			<label> Password: <input type="password" name="password" />
			</label>
		</div>
		<div class="text-str" >
			<input type="submit" value="Sign In" />
		</div>
	</form>
</body>
</html>